/*? GENERAL */

@import url("https://use.typekit.net/xay8pxg.css");

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


:root {
    /*fonts */
    --font-primary: "blenny", sans-serif;
    --font-secondary: "coolvetica", sans-serif;

    /*font sizes */
    --font-xxsmall: 0.8rem;
    --font-xsmall: 1rem;
    --font-small: 1.25rem;
    --font-medium: 1.563rem;
    --font-large: 1.953rem;
    --font-xlarge: 2.441rem;
    --font-xxlarge: 3.052rem;
    --font-xxxlarge: 5rem;
    --font-main: 7rem;

    /*colors*/
    --color-white: #F5F5F5;
    --color-green: #57935A;
    --color-black: #1F1F1A;
    --shadow: rgb(18, 18, 18) 0px 5px 15px 0px;

    /*sizes*/
    --size-xxsmall: 0.25rem;
    --size-xsmall: 0.5rem;
    --size-small: 1rem;
    --size-medium: 2rem;
    --size-large: 4rem;
    --size-xlarge: 6rem;
    --size-xxlarge: 8rem;
  }

body {
    position: absolute;
    overflow-x: hidden;
}
  
h1 {
    font-family: var(--font-primary);
    font-size: var(--font-xxxlarge);
    color: var(--color-white);
    text-transform: uppercase;
}

h2 {
    font-family: var(--font-primary);
    font-size: var(--font-xxlarge);
    color: var(--color-white);
    text-transform: uppercase;  
    letter-spacing: var(--size-xxsmall);

    line-height: var(--font-xxlarge);
}

h3 {
    font-family: var(--font-secondary);
    font-size: var(--font-large);
    color: var(--color-white);
    text-transform: uppercase;
    letter-spacing: var(--size-xxsmall);
}
  
p {
    font-family: var(--font-secondary);
    color: var(--color-white);
    text-transform: uppercase;
    line-height: 1.5rem;
    letter-spacing: var(--size-xxsmall);
}
  
a {
    font-family: var(--font-secondary);
    color: var(--color-white);
    text-decoration: none;
    letter-spacing: var(--size-xxsmall);
}

a:hover {
    cursor: pointer;
    color: var(--color-green);
}
  
ul {
    font-family: var(--font-secondary);
    font-size: var(--font-small);
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: var(--size-xxsmall);
    color: var(--color-white);

    list-style: none;
}
  
button:hover {
    cursor: pointer;
}

.fixed {
    position: fixed;
}

.hidden {
    visibility: hidden;
}



/*? BODY */

#background_image {
    display: block;
    top: -10rem;
}

.bgd_img {
    display: block;
    width: 100%;
    height: auto;
    float: left;
}

#bgd_1 {
    transform: scaleY(-1);
}



/*? NAV */

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    width: 100vw;
    justify-content: flex-end;
    align-self: center;

    z-index: 20;
}

nav ul {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: var(--size-medium);
    padding: var(--size-medium);
}




/*? MAIN */

main {
    position: absolute;
    width: 100vw;

    display: flex;
    justify-content: center;
}

#main_flex {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    top: 100vh;
    width: 100vw;
    justify-content: center;
}

#main_title {
    position: relative;
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 25vh;
}

#main_title h1 {
    font-size: var(--font-main);
    mix-blend-mode: difference;
    z-index: 1;
}




/*? ABOUT SECTION */

#about {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--size-medium);

    justify-content: center;
    padding-top: 20vh;
}

#about p {
    width: 35%;
    text-transform: uppercase;
    align-self: flex-end;
}

.image_container_me {
    display: grid;
    justify-content: center;

    width: 20%;

    box-shadow: var(--shadow);
    z-index: 3;
}

#img_me {
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;

    /* border: var(--size-medium) solid var(--color-green); */
}


/*? PROJECTS SECTION */

#projects {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    scroll-behavior: smooth;


    padding-top: 30vh;
    width: 100vw;
    overflow: scroll;
}

#projects::-webkit-scrollbar {
    display: none;
}

#projects_title {
    position: relative;
    display: flex;
    width: 100vw;
    justify-content: center;

    font-size: var(--font-main);
    mix-blend-mode: difference;
    z-index: 1;
}

#cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--size-xsmall);

    margin-top: var(--size-xxlarge);

    z-index: 3;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: var(--font-medium);
  
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 15rem;
    padding: var(--size-medium);
    margin: var(--size-medium);

    background-color: var(--color-black);
    border-radius: 1rem;
}

.card:hover {
    box-shadow: var(--shadow);
    background-color: var(--color-black);

    cursor: pointer;
}

.image_container img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 1rem;
}



/*? CONTACT */


#contact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--size-large);

    justify-content: center;

    padding-left: 20%;
    padding-right: 20%;
    padding-top: 55vh;
}

#contact_title {
    position: relative;
    display: flex;
    width: 100vw;
    justify-content: center;
    padding-top: 15vh;

    mix-blend-mode: difference;
}

#contact ul {
    display: flex;
    flex-direction: column;
    gap: var(--size-large);

    justify-content: space-between;
}

/*? FOOTER */

footer {
    position: absolute;
    bottom: 1vh;
    left: 1vw;
}


/*? PAGES */

#pages_grid {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: var(--size-medium);

    justify-content: center;
    align-items: center;

    padding-left: 15%;
    padding-right: 15%;

}

.pages_title {
    position: relative;
    padding-top: 10vh;
}

.mockup_images img {
    max-width: 100%;
    max-height: 100%;
    background-color: var(--color-black);
    object-fit:cover;
    border-radius: 1rem;
}

.mockup_images {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--size-medium);

    justify-content: center;
    align-content: center;
}

.solutionlink h3:hover {
    cursor: pointer;
    color: var(--color-green);
}

/*! keyframes */

.fadein_anim {
    visibility: visible;
    animation-name: fadein;
    animation-delay: 0.2s;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.17, 0.55, 0.55, 1);
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}



/*! responsive */
