/*? GENERAL */

@import url("https://use.typekit.net/xay8pxg.css");

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


:root {
    /*fonts */
    --font-primary: "blenny", sans-serif;
    --font-secondary: "coolvetica", sans-serif;

    /*font sizes */
    --font-xxsmall: 0.8rem;
    --font-xsmall: 1rem;
    --font-small: 1.25rem;
    --font-medium: 1.563rem;
    --font-large: 1.953rem;
    --font-xlarge: 2.441rem;
    --font-xxlarge: 3.052rem;
    --font-xxxlarge: 5rem;
    --font-main: 7rem;

    /*colors*/
    --color-white: #F5F5F5;
    --color-green: #57935A;
    --color-black: #1F1F1A;
    --shadow: rgb(18, 18, 18) 0px 5px 15px 0px;

    /*sizes*/
    --size-xxsmall: 0.25rem;
    --size-xsmall: 0.5rem;
    --size-small: 1rem;
    --size-medium: 2rem;
    --size-large: 4rem;
    --size-xlarge: 6rem;
    --size-xxlarge: 8rem;
  }

html {
    overflow-x: hidden;
}

body {
    position: absolute;
    overflow-x: hidden;
}
  
h1 {
    font-family: var(--font-primary);
    font-size: var(--font-xxxlarge);
    color: var(--color-white);
    text-transform: uppercase;
}

h2 {
    font-family: var(--font-primary);
    font-size: var(--font-xxlarge);
    color: var(--color-white);
    text-transform: uppercase;  
    letter-spacing: var(--size-xxsmall);

    line-height: var(--font-xxlarge);
}

h3 {
    font-family: var(--font-secondary);
    font-size: var(--font-large);
    color: var(--color-white);
    text-transform: uppercase;
    letter-spacing: var(--size-xxsmall);
}
  
p {
    font-family: var(--font-secondary);
    color: var(--color-white);
    text-transform: uppercase;
    line-height: 1.5rem;
    letter-spacing: var(--size-xxsmall);
}
  
a {
    font-family: var(--font-secondary);
    color: var(--color-white);
    text-decoration: none;
    letter-spacing: var(--size-xxsmall);
}

a:hover {
    cursor: pointer;
    -webkit-text-stroke: 0.05rem #fff;
    color: transparent;
}
  
ul {
    font-family: var(--font-secondary);
    font-size: var(--font-small);
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: var(--size-xxsmall);
    color: var(--color-white);

    list-style: none;
}
  
button:hover {
    cursor: pointer;
}

.fixed {
    position: fixed;
}

.hidden {
    visibility: hidden;
}



/*? BODY */

#background_image {
    display: block;
}

.bgd_img {
    display: block;
    width: 100%;
    height: auto;
    float: left;
}



/*? NAV */

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    width: 100vw;
    justify-content: flex-end;
    align-self: center;

    z-index: 20;
}

nav ul {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: var(--size-medium);
    padding: var(--size-medium);
}




/*? MAIN */

main {
    position: absolute;
    width: 100vw;

    display: flex;
    justify-content: center;
}

#main_flex {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    top: 90vh;
    width: 100vw;
    justify-content: center;
}

#main_title {
    position: relative;
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 25vh;
}

#main_title h1 {
    font-size: var(--font-main);
    mix-blend-mode: difference;
    z-index: 1;
}




/*? ABOUT SECTION */

#about {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--size-medium);

    justify-content: center;
    padding-top: 25vh;
}

#about p {
    width: 35%;
    text-transform: uppercase;
    align-self: flex-end;
}

.image_container_me {
    display: grid;
    justify-content: center;

    width: 20%;

    box-shadow: var(--shadow);
    z-index: 3;
}

#img_me {
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;

    /* border: var(--size-medium) solid var(--color-green); */
}


/*? PROJECTS SECTION */

#projects {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    scroll-behavior: smooth;


    padding-top: 30vh;
    width: 100vw;
    overflow: scroll;
}

#projects::-webkit-scrollbar {
    display: none;
}

#projects_title {
    position: relative;
    display: flex;
    width: 100vw;
    justify-content: center;

    font-size: var(--font-main);
    mix-blend-mode: difference;
    z-index: 1;
}

#cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--size-xsmall);

    margin-top: var(--size-xxlarge);

    z-index: 3;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: var(--font-medium);
  
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: auto;
    padding: var(--size-medium);
    margin: var(--size-medium);

    background-color: var(--color-black);
    border-radius: 1rem;
}

.card p {
    font-size: var(--font-xxsmall);
}

.card:hover {
    box-shadow: var(--shadow);
    background-color: var(--color-black);

    cursor: pointer;
}

.image_container img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 1rem;
}



/*? CONTACT */


#contact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--size-large);

    justify-content: center;

    padding-left: 20%;
    padding-right: 20%;
    padding-top: 55vh;
}

#contact_title {
    position: relative;
    display: flex;
    width: 100vw;
    justify-content: center;
    padding-top: 15vh;

    mix-blend-mode: difference;
}

#contact ul {
    display: flex;
    flex-direction: column;
    gap: var(--size-large);

    justify-content: space-between;
    align-items: center;
}

/*? FOOTER */

footer {
    position: absolute;
    display: flex;
    bottom: 1vh;
    left: 1vw;

    padding: var(--size-small);
}



/*! keyframes */



/*! responsive */

@media only screen and (max-width: 1350px) {

    .bgd_img {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        float: left;
    }

    #main_flex {
        top: 80vh;
    }

    #main_title {
        margin-top: 20vh;
    }

    #about {
        padding-top: 28vh;
    }
    
    #about p {
        width: 35%;
        text-transform: uppercase;
        align-self: flex-end;
    }

    #projects {
        padding-top: 25vh;
    }

    #contact {
        padding-top: 45vh;
    }
}

@media only screen and (max-width: 1152px) {

    .bgd_img {
        position: relative;
        display: block;
        width: 110%;
        height: auto;
    }

    #main_title h1 {
        font-size: 6rem;
    }


    #main_flex {
        top: 60vh;
    }

    #main_title {
        margin-top: 20vh;
    }

    #about {
        padding-top: 40vh;
    }

    .image_container_me {
        width: 25%;
    }
}

@media only screen and (max-width: 1050px) {

    .bgd_img {
        position: relative;
        display: block;
        width: 120%;
        height: auto;
    }

    #bgd_1 {
        top: -100px;
    }


    #main_flex {
        top: 60vh;
    }

    #main_title {
        margin-top: 20vh;
    }

    #about {
        padding-top: 40vh;
    }

    .image_container_me {
        width: 25%;
    }
    
    #projects {
        padding-top: 20vh;
    }

    #contact {
        padding-top: 40vh;
    }
}

@media only screen and (max-width: 960px) {

    .bgd_img {
        position: relative;
        display: block;
        width: 130%;
        height: auto;
    }

    #about {
        padding-top: 40vh;
    }

    #about p {
        width: 40%;
    }
    
    .image_container_me {
        width: 30%;
    }
}

@media only screen and (max-width: 875px) {
    
    #about {
        padding-top: 40vh;
    }

    #about p {
        width: 40%;
    }
    
    .image_container_me {
        width: 30%;
    }
}

@media only screen and (max-width: 840px) {

    .bgd_img {
        position: relative;
        display: block;
        width: 150%;
        height: auto;
        left: -20%;
        float: left;
    }
    
    .image_container_me {
        width: 40%;
    }

    #contact ul {
        display: flex;
        flex-direction: column;
        gap: var(--size-medium);
    
        justify-content: space-between;
    }
}

@media only screen and (max-width: 750px) {

    .bgd_img {
        position: relative;
        display: block;
        width: 180%;
        height: auto;
        left: -60%;
        float: left;
    }

    #main_title h1 {
        font-size: 5rem;
    }
    
    .image_container_me {
        width: 50%;
    }
}

@media only screen and (max-width: 690px) {

    .bgd_img {
        position: relative;
        display: block;
        width: 200%;
        height: auto;
        left: -60%;
        float: left;
    }

    #main_title h1 {
        font-size: 5rem;
    }
    
    .image_container_me {
        width: 50%;
    }
}

@media only screen and (max-width: 615px) {


    .bgd_img {
        position: relative;
        display: block;
        width: 250%;
        height: auto;
        left: -60%;
        float: left;
    }

    #main_title {
        position: relative;
        display: flex;
        width: 100vw;
        justify-content: center;
        margin-top: 15vh;
    }

    #main_title h1 {
        font-size: 4rem;
    }

    #main_flex {
        top: 70vh;
    }

    #about {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: var(--size-medium);
        padding-top: 30vh;
        align-items: center;
    }

    #about p {
        font-size: var(--font-xxsmall);
        width: 70%;
        align-self: center;
    }
    
    .image_container_me {
        width: 40%;
        z-index: 0;
    }


    #projects {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        scroll-behavior: smooth;
    
    
        padding-top: 15vh;
        width: 100vw;
        overflow: scroll;
    }
    
    #cards {
        gap: 0.5rem;
    }

    .card {
        width: 20rem;
        height: auto;
        padding: var(--size-medium);
        margin: var(--size-small);
    }



    #contact {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: var(--size-medium);
    
        justify-content: center;
    
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 35vh;
    }
    
    #contact ul {
        display: flex;
        flex-direction: column;
        gap: var(--size-medium);
    
        justify-content: space-between;
    }

}

@media only screen and (max-width: 540px) {

    #projects {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        scroll-behavior: smooth;
    
    
        padding-top: 10vh;
        width: 100vw;
        overflow: scroll;
    }
    
    #cards {
        gap: 0.5rem;
    }

    .card {
        width: 15rem;
        height: auto;
        padding: var(--size-medium);
        margin: var(--size-small);
    }

    #contact {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: var(--size-medium);
    
        justify-content: center;
    
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 35vh;
    }
    
    #contact ul {
        display: flex;
        flex-direction: column;
        gap: var(--size-medium);
    
        justify-content: space-between;
    }

}

@media only screen and (max-width: 475px) {

    .bgd_img {
        position: relative;
        display: block;
        width: 300%;
        height: auto;
        left: -110%;
        float: left;
    }

    nav {
        position: fixed;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    
        width: 100vw;
        justify-content: center;
        align-self: center;
    
        z-index: 20;
    }
    
    nav ul {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    
        gap: var(--size-small);
        padding: var(--size-small);
        font-size: var(--font-xsmall);
    }

    #main_title {
        position: relative;
        display: flex;
        width: 100vw;
        justify-content: center;
        margin-top: 15vh;
    }

    #main_title h1 {
        font-size: 4rem;
    }

    #main_flex {
        top: 70vh;
    }

    #about {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: var(--size-medium);
    
        justify-content: center;
        align-items: center;
        padding-top: 30vh;
    }

    #about p {
        font-size: var(--font-small);
        width: 70%;
        text-transform: uppercase;
        justify-self: center;
        align-self: center;
    }
    
    .image_container_me {
        width: 70%;
        z-index: 0;
    }


    #projects {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        scroll-behavior: smooth;
    
    
        padding-top: 15vh;
        width: 100vw;
        overflow: scroll;
    }
    
    #projects::-webkit-scrollbar {
        display: none;
    }
    
    #cards {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 0.2rem;
    
        margin-top: var(--size-xxlarge);
    
        z-index: 3;
    }

    .card {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: var(--font-medium);
      
        align-items: center;
        justify-content: center;
        width: 15rem;
        height: auto;
        padding: var(--size-medium);
        margin: var(--size-xsmall);
    
        background-color: var(--color-black);
        border-radius: 1rem;
    }

}

@media only screen and (max-width: 415px) {
   
    .bgd_img {
        position: relative;
        display: block;
        width: 350%;
        height: auto;
        left: -130%;
        float: left;
    }
}

@media only screen and (max-width: 390px) {
   
    .bgd_img {
        position: relative;
        display: block;
        width: 360%;
        height: auto;
        left: -130%;
        float: left;
    }

    #contact {
        padding-left: 10%;
        padding-right: 10%;
    }
}